image:
  main:
    repository: ghcr.io/umami-software/umami
    pullPolicy: IfNotPresent
    # tag: 3.0.1
  postgresql:
    repository: postgres
    pullPolicy: IfNotPresent
    tag: 17

main:
  ports:
    - containerPort: 3000
  appSecret:
    enabled: true
    autoCreate: true
    name: umami-secret
    key: app_secret
  options:
    app_secret: my_strong_secret
  environments: {}
    # - name: key
    #  value: value

postgresql:
  external:
    enabled: false
    host: 127.0.0.1
    port: 5432
  internal:
    enabled: true
  cnpg:
    enabled: false
    replicas: 3
    primaryUpdateStrategy: unsupervised
  secret:
    enabled: true
    autoCreate: true
    name: umami-postgresql
    usernameKey: username
    passwordKey: password
    databaseKey: database
  options:
    database: umami
    username: umami
    password: umami
  settings: #~ ignored if cnpg.enabled
    podManagementPolicy: Parallel
    updateStrategy:
      type: RollingUpdate
    persistence:
      accessModes:
        - ReadWriteOnce
      claimRetentionPolicy: 
        whenDeleted: Retain
        whenScaled: Retain
  environments: {}
    # - name: key
    #   value: value

service:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000

resources:
  limits:
    main:
      memory: 512Mi
    postgresql:
      memory: 512Mi
  requests:
    main:
      storage: 1Gi
    postgresql:
      storage: 1Gi

replicaCount: 1

nodeSelector: {}

tolerations: []

affinity: {}