image:
  main:
    repository: ghcr.io/open-webui/open-webui
    pullPolicy: IfNotPresent
    # tag: 0.6.7
  postgresql:
    repository: postgres
    pullPolicy: IfNotPresent
    tag: 18

main:
  ports:
    - containerPort: 8080
  options:
    enable_ollama_api: false
    openai_api_base_url: https://api.openai.com/v1
  environments: {}
    # - name: key
    #  value: value

postgresql:
  external:
    enabled: false
    host: 127.0.0.1
    port: 5432
  internal:
    enabled: true
  cnpg:
    enabled: false
    replicas: 3
    primaryUpdateStrategy: unsupervised
  secret:
    enabled: true
    autoCreate: true
    name: open-webui-postgresql
    usernameKey: username
    passwordKey: password
    databaseKey: database
  options:
    database: open-webui
    username: open-webui
    password: open-webui
  settings: #~ ignored if cnpg.enabled
    podManagementPolicy: Parallel
    updateStrategy:
      type: RollingUpdate
    persistence:
      accessModes:
        - ReadWriteOnce
      claimRetentionPolicy: 
        whenDeleted: Retain
        whenScaled: Retain
  environments: {}
    # - name: key
    #   value: value

service:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080

resources:
  limits:
    main:
      cpu: 400m
      memory: 2048Mi
    postgresql:
      memory: 512Mi
  requests:
    main:
      storage: 4Gi
    postgresql:
      storage: 1Gi

replicaCount: 1

nodeSelector: {}

tolerations: []

affinity: {}