---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-main"
  namespace: "{{ if eq .Release.Namespace "default" }}paperless-ngx-k8s{{ else }}{{ .Release.Namespace }}{{ end }}"
spec:
  replicas: {{ .Values.replicaCount | default (printf "%d" 1) }}
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-main"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-main"
    spec:
    {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
    {{- end }}
      initContainers:
        - name: "{{ .Release.Name }}-main-init"
          image: busybox
          command:
            - sh
            - -c
            - |
              {{- if and .Values.postgresql.cnpg.enabled }}
              until nc -z -v -w30 {{ .Release.Name }}-postgresql-rw 5432
              {{- else if and .Values.postgresql.internal.enabled }}
              until nc -z -v -w30 {{ .Release.Name }}-postgresql 5432
              {{- else if .Values.postgresql.external.enabled }}
              until nc -z -v -w30 {{ .Values.postgresql.external.host }} {{ .Values.postgresql.external.port }}
              {{- end }}
              do
                echo "Waiting for the postgresql to be ready..."
                sleep 5
              done
              {{- if and .Values.redis.enabled }}
                {{- if .Values.redis.internal.enabled }}
              until nc -z -v -w30 {{ .Release.Name }}-redis 6379
                {{- else if and .Values.redis.external.enabled }}
              until nc -z -v -w30 {{ .Values.redis.external.host }} {{ .Values.redis.external.port }}
                {{- end }}
              do
                echo "Waiting for the redis to be ready..."
                sleep 5
              done
              {{- end }}
      containers:
        - name: "{{ .Release.Name }}-main"
          image: {{ template "paperless-ngx.main.image" . }}
          env:
            - name: PAPERLESS_REDIS
              value: {{ template "redis.url" . }}
            - name: PAPERLESS_DBENGINE
              value: "postgresql"
            - name: PAPERLESS_DBHOST
              {{- if .Values.postgresql.internal.enabled }}
              value: {{ .Release.Name }}-postgresql{{ if and .Values.postgresql.cnpg.enabled }}-rw{{ end }}
              {{- else }}
              value: {{ printf "%s:%.0f" .Values.postgresql.external.host .Values.postgresql.external.port | quote }}
              {{- end }}
            - name: PAPERLESS_DBUSER
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.usernameKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.username | quote }}
              {{- end }}
            - name: PAPERLESS_DBPASS
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.passwordKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.password | quote }}
              {{- end }}
            - name: PAPERLESS_DBNAME
              {{- if and .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.databaseKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.database | quote }}
              {{- end }}
            - name: PAPERLESS_PORT
              value: {{ .Values.main.options.paperless_port | quote }}
            - name: PAPERLESS_URL
              value: {{ .Values.main.options.paperless_url | quote }}
            - name: PAPERLESS_SECRET_KEY
             {{- if .Values.main.appSecret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.main.appSecret.name }}{{ .Values.main.appSecret.name }}{{ else }}{{ .Release.Name }}-secret{{ end }}
                  key: {{ .Values.main.appSecret.key | quote }}
             {{- else }}
              value: {{ .Values.main.options.paperless_app_secret | quote }}
             {{- end }}
            - name: USERMAP_UID
              value: {{ .Values.main.options.usermap_uid | quote }}
            - name: USERMAP_GID
              value: {{ .Values.main.options.usermap_gid | quote }}
          {{- range .Values.main.environments }}
            - name: {{ .name }}
              value: {{ .value | quote }}
          {{- end }}
          {{- with .Values.main.ports }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources.limits.main }}
          resources:
            limits:
              {{- toYaml . | nindent 14 }}
          {{- end }}
          volumeMounts:
            - name: "{{ .Release.Name }}-data"
              mountPath: /usr/src/paperless/data
              subPath: data
            - name: "{{ .Release.Name }}-data"
              mountPath: /usr/src/paperless/media
              subPath: media
            - name: "{{ .Release.Name }}-data"
              mountPath: /usr/src/paperless/export
              subPath: export
      volumes:
        - name: "{{ .Release.Name }}-data"
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-data-pvc"

{{ if and .Values.redis.internal.enabled .Values.redis.enabled }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ .Release.Name }}-redis"
  namespace: "{{ if eq .Release.Namespace "default" }}paperless-ngx-k8s{{ else }}{{ .Release.Namespace }}{{ end }}"
spec:
  replicas: {{ .Values.replicaCount | default (printf "%d" 1) }}
  podManagementPolicy: {{ .Values.redis.settings.podManagementPolicy | default "Parallel" | quote }}
  serviceName: "{{ .Release.Name }}-redis"
  {{- if .Values.redis.settings.updateStrategy }}
  updateStrategy:
    type: {{ .Values.redis.settings.updateStrategy.type | default "RollingUpdate" | quote }}
  {{- end }}
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-redis"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-redis"
    spec:
    {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
    {{- end }}
      initContainers:
        - name: "{{ .Release.Name }}-redis-init"
          image: busybox
          command:
            - sh
            - -c
            - |
              [ -d "/mnt/lost+found" ] && rm -rf /mnt/lost+found
              exit 0
          volumeMounts:
            - name: "redis"
              mountPath: /mnt
      containers:
        - name: "{{ .Release.Name }}-redis"
          image: {{ template "paperless-ngx.redis.image" . }}
          ports:
            - containerPort: 6379
          {{- if .Values.redis.environments }}
          env:
          {{- range .Values.redis.environments }}
            - name: {{ .name }}
              value: {{ .value | quote }}
          {{- end }}
          {{- end }}
          volumeMounts:
            - name: "redis"
              mountPath: /data
      volumes:
        - name: "redis"
          persistentVolumeClaim:
            claimName: "redis"
  {{- if .Values.redis.settings.persistence.claimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ .Values.redis.settings.persistence.claimRetentionPolicy.whenDeleted | default "Retain" | quote }}
    whenScaled: {{ .Values.redis.settings.persistence.claimRetentionPolicy.whenScaled | default "Retain" | quote }}
  {{- end }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "redis"
        namespace: "{{ if eq .Release.Namespace "default" }}paperless-ngx-k8s{{ else }}{{ .Release.Namespace }}{{ end }}"
      spec:
        accessModes:
        {{- if .Values.redis.settings.persistence.accessModes }}
          {{- toYaml .Values.redis.settings.persistence.accessModes | nindent 8 }}
        {{- else }}
          - ReadWriteOnce
        {{- end }}
        resources:
          requests:
            storage: "{{ .Values.resources.requests.redis.storage }}"
{{- end }}

{{ if and .Values.postgresql.internal.enabled (eq .Values.postgresql.cnpg.enabled false) }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ .Release.Name }}-postgresql"
  namespace: "{{ if eq .Release.Namespace "default" }}paperless-ngx-k8s{{ else }}{{ .Release.Namespace }}{{ end }}"
spec:
  replicas: {{ .Values.replicaCount | default (printf "%d" 1) }}
  podManagementPolicy: {{ .Values.postgresql.settings.podManagementPolicy | default "Parallel" | quote }}
  serviceName: "{{ .Release.Name }}-postgresql"
  {{- if .Values.postgresql.settings.updateStrategy }}
  updateStrategy:
    type: {{ .Values.postgresql.settings.updateStrategy.type | default "RollingUpdate" | quote }}
  {{- end }}
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-postgresql"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-postgresql"
    spec:
    {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
    {{- end }}
      initContainers:
        - name: "{{ .Release.Name }}-postgresql-init"
          image: busybox
          command:
            - sh
            - -c
            - |
              [ -d "/mnt/lost+found" ] && rm -rf /mnt/lost+found
              exit 0
          volumeMounts:
            - name: "database"
              mountPath: /mnt
        - name: "{{ .Release.Name }}-postgresql-upgrade-to-18"
          image: {{ template "paperless-ngx.postgresql.image" . }}
          command:
            - sh
            - -c
            - |
              if [ -f /var/lib/postgresql/PG_VERSION ]; then
                VERSION=$(cat /var/lib/postgresql/PG_VERSION)
                if [ "$VERSION" -lt "18" ]; then
                  echo "Upgrading database from version $VERSION to 18..."
                  apt update && apt install -y postgresql-$VERSION
                  export PGBINOLD="/usr/lib/postgresql/$VERSION/bin"
                  export PGBINNEW="/usr/lib/postgresql/18/bin"
                  export PGDATAOLD="/var/lib/postgresql/$VERSION/docker"
                  export PGDATANEW="/var/lib/postgresql/18/docker"
                  su - postgres -c "$PGBINOLD/pg_ctl -D /var/lib/postgresql start"
                  su - postgres -c "$PGBINOLD/pg_ctl -D /var/lib/postgresql stop"
                  su - postgres -c "$PGBINOLD/pg_checksums --enable -D /var/lib/postgresql"

                  echo "Creating temporary directory for upgrade..."
                  mkdir /mnt/$VERSION

                  echo "Moving existing data to temporary directory..."
                  mv /var/lib/postgresql/* /mnt/$VERSION

                  echo "Initializing new PostgreSQL 18 data directory..."
                  mkdir -p /var/lib/postgresql/$VERSION/docker /var/lib/postgresql/18/docker/

                  echo "Moving old data back to new version directory..."
                  mv /mnt/$VERSION/* /var/lib/postgresql/$VERSION/docker/

                  echo "Setting ownership and permissions..."
                  chown -R postgres:postgres /var/lib/postgresql/
                  chmod 0750 /var/lib/postgresql/*/docker

                  echo "Running pg_upgrade..."
                  su - postgres -c "$PGBINNEW/initdb -D $PGDATANEW -U $POSTGRES_USER"
                  su - postgres -c "$PGBINOLD/pg_ctl -D $PGDATAOLD start"
                  su - postgres -c "$PGBINOLD/pg_ctl -D $PGDATAOLD stop"
                  su - postgres -c "$PGBINNEW/pg_upgrade -b $PGBINOLD -d $PGDATAOLD -D $PGDATANEW -U $POSTGRES_USER"

                  echo "Fixing collation versions..."
                  su - postgres -c "$PGBINNEW/pg_ctl -D $PGDATANEW start"
                  su - postgres -c "psql -U $POSTGRES_USER -d $POSTGRES_DB -c \"ALTER DATABASE \\\"$POSTGRES_DB\\\" REFRESH COLLATION VERSION;\""
                  su - postgres -c "psql -U $POSTGRES_USER -d $POSTGRES_DB -c \"ALTER DATABASE \\\"template0\\\" REFRESH COLLATION VERSION;\""
                  su - postgres -c "psql -U $POSTGRES_USER -d $POSTGRES_DB -c \"ALTER DATABASE \\\"template1\\\" REFRESH COLLATION VERSION;\""
                  su - postgres -c "psql -U $POSTGRES_USER -d $POSTGRES_DB -c \"ALTER DATABASE \\\"postgres\\\" REFRESH COLLATION VERSION;\""
                  su - postgres -c "$PGBINNEW/pg_ctl -D $PGDATANEW stop"

                  echo "Cleaning up temporary files..."
                  rm -rf /mnt/$VERSION
                  su - postgres -c "./delete_old_cluster.sh"
                else
                  echo "No upgrade needed. Current version is $VERSION"
                fi
              fi
          env:
            - name: POSTGRES_USER
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.usernameKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.username | quote }}
              {{- end }}
            - name: POSTGRES_DB
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.databaseKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.database | quote }}
              {{- end }}
          volumeMounts:
            - name: "database"
              mountPath: /var/lib/postgresql
            - name: "tmp"
              mountPath: /mnt
      containers:
        - name: "{{ .Release.Name }}-postgresql"
          image: {{ template "paperless-ngx.postgresql.image" . }}
          env:
            - name: POSTGRES_DB
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.databaseKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.database | quote }}
              {{- end }}
            - name: POSTGRES_USER
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.usernameKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.username | quote }}
              {{- end }}
            - name: POSTGRES_PASSWORD
              {{- if .Values.postgresql.secret.enabled }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.postgresql.secret.name }}{{ .Values.postgresql.secret.name }}{{ else }}{{ .Release.Name }}-postgresql{{ end }}
                  key: {{ .Values.postgresql.secret.passwordKey | quote }}
              {{- else }}
              value: {{ .Values.postgresql.options.password | quote }}
              {{- end }}
          {{- range .Values.postgresql.environments }}
            - name: {{ .name }}
              value: {{ .value | quote }}
          {{- end }}
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: "database"
              mountPath: /var/lib/postgresql
      volumes:
        - name: "tmp"
          emptyDir:
            medium: Memory
        - name: "database"
  {{- if .Values.postgresql.settings.persistence.claimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ .Values.postgresql.settings.persistence.claimRetentionPolicy.whenDeleted | default "Retain" | quote }}
    whenScaled: {{ .Values.postgresql.settings.persistence.claimRetentionPolicy.whenScaled | default "Retain" | quote }}
  {{- end }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "database"
        namespace: "{{ if eq .Release.Namespace "default" }}paperless-ngx-k8s{{ else }}{{ .Release.Namespace }}{{ end }}"
      spec:
        accessModes:
        {{- if .Values.postgresql.settings.persistence.accessModes }}
          {{- toYaml .Values.postgresql.settings.persistence.accessModes | nindent 8 }} 
        {{- else }}
          - ReadWriteOnce
        {{- end }}
        resources:
          requests:
            storage: "{{ .Values.resources.requests.postgresql.storage }}"
{{- end }}